<h1>GESTION DES PROJETS</h1>

<section>
  <nav>
    <ul>
      <li><a routerLink="/createproject">Nouveau projet</a></li>
      <li><a routerLink="/create">Nouveau salarié</a></li>
      <li><a routerLink="/createcustomer">Nouveau client</a></li>
    </ul>
  </nav>

  <article>
    <h2>INFORMATION</h2>
    <p>Cette application a été conçue afin de faciliter la gestion de nos projets à court et à long termes.
    grace à cet interface nous pourrons désormais gérer les projets, les employés ainsi que les clients.</p>


  </article>
</section>
